@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --font-heading: "Caudex", serif;
    --font-body: "Heebo", sans-serif;

    --color-primary: #3851a3;
    --color-almostBlack: #2e2e2e;
}

@supports (font-variation-settings: 'wdth' 200) {
  @font-face {
    /* https://github.com/TypeNetwork/Amstelvar */
    font-family: Heebo;
    src: url('../fonts/Heebo-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
  }
}

body {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4 {
    font-family: var(--font-heading);
}

h1 {
    font-size: 3rem;
    --color-almostBlack: #2e2e2e;
}

p {
    font-size: 1.2rem;
    font-variation-settings: 'wdth' 400, 'wght' 340;
    margin-bottom: 1em;
    color: var(--color-almostBlack);
}

section {
    max-width: 600px;
    padding: 3em;
    margin: 3em;
    border-radius: 2px;
}

.intro {
    background-color: #ffffff;
}
