@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400");
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --font-heading: "Caudex", serif;
  --font-body: "Heebo", sans-serif;
  --color-primary: #3851a3;
  --color-almostBlack: #2e2e2e;
  --color-secondary: #9be8c3;
  --color-primary-dark: #152457;
  --color-secondary-dark: #608f79;
  --br: 0.2em;
}

html {
  font-size: 16px;
}

@supports (font-variation-settings: "wdth" 200) {
  @font-face {
    /* https://github.com/TypeNetwork/Amstelvar */
    font-family: Heebo;
    src: url("../fonts/Heebo-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }
}

body {
  background-color: var(--color-primary);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: var(--font-body);
  display: relative;
  overflow-x: hidden;
  position: relative;
  width: 100vw;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: var(--font-heading);
  --color-almostBlack: #2e2e2e;
}

h1 {
  font-size: 3.5rem;
}

h1 em {
  font-style: normal;
  color: var(--color-secondary);
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  font-variation-settings: "wdth" 400, "wght" 340;
  margin-bottom: 1em;
  color: var(--color-almostBlack);
}

main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  --logo-size:5em;
  border: 2px solid #fff;
  border-radius: 100vw;
  padding: 0.5em;
  background-color: var(--color-primary);
  position: absolute;
  left: 4em;
  z-index: 10;
  -webkit-transition: width 250ms ease-in-out, height 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: width 250ms ease-in-out, height 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, width 250ms ease-in-out, height 250ms ease-in-out;
  transition: transform 250ms ease-in-out, width 250ms ease-in-out, height 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  width: var(--logo-size);
  height: var(--logo-size);
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.main .logo {
  --logo-size: 12em;
  -webkit-transform: translateY(-4em);
          transform: translateY(-4em);
}

.btn {
  background: var(--color-secondary);
  padding: 0.5em 1em;
  border-radius: var(--br);
  text-decoration: none;
  color: var(--color-almostBlack);
  margin: 2em 0 0 0;
  display: inline-block;
}

.hero {
  margin-bottom: -0.3em;
  width: 100vw;
  min-height: 700px;
  background: url("../img/family-photo.jpg") no-repeat;
  background-size: cover;
  padding: 2em;
}

.hero .slogan {
  padding: 3em;
  color: #fff;
}

.hero .slogan h1 {
  line-height: 1em;
  text-shadow: 0 0 0.35em rgba(0, 0, 0, 0.95), 0 0 0.65em rgba(0, 0, 0, 0.95), 0 0 1em rgba(0, 0, 0, 0.95);
}

.hero .slogan .btn {
  font-size: 1.5rem;
}

.hero img {
  max-width: 100%;
  border-radius: var(--br);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

nav {
  background-color: var(--color-secondary);
  width: 100vw;
  height: 2em;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2em;
}

nav ul li {
  line-height: 2em;
  list-style: none;
}

nav ul li a {
  color: black;
  text-decoration: none;
}

nav.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

nav.sticky .logo {
  width: 5em;
  height: 5em;
  -webkit-transform: translateY(-1em);
          transform: translateY(-1em);
}

.nav-observer {
  height: 0;
}

section {
  width: 100%;
  max-width: 1200px;
  padding: 3em;
  margin: 3em;
  border-radius: 3px;
}

.intro,
.issues,
.absentee-voting {
  background-color: #ffffff;
}

.card {
  clear: both;
  margin-top: 2em;
}

.card:first-of-type {
  margin-top: 0;
}

.signature {
  width: 100%;
  max-width: 250px;
}

.issues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
}

.issues .callout {
  width: 50%;
}

.issues .callout img {
  width: 100%;
  border-radius: var(--br);
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.issues .callout small {
  display: inline-block;
  max-width: 80%;
  font-size: 0.7rem;
  color: #666;
}

.issues .callout__right {
  float: right;
  margin-left: -3em;
  -webkit-transform: translateX(90%);
          transform: translateX(90%);
  opacity: 0;
}

.issues .callout__right.visible {
  -webkit-transition: opacity 500ms ease, -webkit-transform 1000ms ease-out;
  transition: opacity 500ms ease, -webkit-transform 1000ms ease-out;
  transition: transform 1000ms ease-out, opacity 500ms ease;
  transition: transform 1000ms ease-out, opacity 500ms ease, -webkit-transform 1000ms ease-out;
  opacity: 1;
  -webkit-transform: translateX(5em);
          transform: translateX(5em);
}

.issues .callout__left {
  float: left;
  -webkit-transform: translateX(-90%);
          transform: translateX(-90%);
  opacity: 0;
  margin-right: 1.5em;
  width: 30%;
}

.issues .callout__left.visible {
  -webkit-transition: opacity 500ms ease, -webkit-transform 1000ms ease-out;
  transition: opacity 500ms ease, -webkit-transform 1000ms ease-out;
  transition: transform 1000ms ease-out, opacity 500ms ease;
  transition: transform 1000ms ease-out, opacity 500ms ease, -webkit-transform 1000ms ease-out;
  opacity: 1;
  -webkit-transform: translateX(-2em);
          transform: translateX(-2em);
}

.absentee-voting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
}

.absentee-voting .pull-quote {
  position: relative;
  min-width: 200px;
}

.absentee-voting .pull-quote::before,
.absentee-voting .pull-quote::after {
  font-size: 4em;
  font-family: var(--font-heading);
  position: absolute;
  z-index: 0;
  color: #d4d4d4;
}

.absentee-voting .pull-quote::before {
  content: "“";
  left: -40px;
  top: -20px;
}

.absentee-voting .pull-quote::after {
  content: "”";
  bottom: -70px;
  right: 0;
}

footer {
  text-align: center;
}

footer small {
  font-size: 0.7rem;
  line-height: 0.8rem;
  display: inline-block;
  margin-top: 2em;
}

.social-media img {
  max-width: 2em;
}

.endorsement {
  -webkit-clip-path: polygon(100% 0%, 98% 50%, 100% 100%, 0 100%, 2% 50%, 0 0);
          clip-path: polygon(100% 0%, 98% 50%, 100% 100%, 0 100%, 2% 50%, 0 0);
  background-color: var(--color-secondary);
  font-family: var(--font-heading);
  color: var(--color-almostBlack);
  text-align-last: center;
  display: inline-block;
}

@media screen and (min-width: 320px) {
  html {
    font-size: calc(16px + 6 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 469px) {
  .hero .slogan {
    margin: 0;
    padding: 0;
  }
  .hero .slogan h1 {
    font-size: 2rem;
  }
  .hero .slogan .btn {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .hero {
    min-height: unset;
  }
  .hero h1 {
    font-size: 2.5rem;
    margin-top: 1em;
  }
  .issues .callout__left,
  .issues .callout__right {
    float: none;
    width: 100%;
  }
  .issues .callout__left.visible,
  .issues .callout__right.visible {
    margin: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .pull-quote {
    display: none;
  }
  .logo {
    display: none;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 90%;
  }
  nav ul li {
    display: inline-block;
  }
}

@media screen and (max-width: 1086px) {
  .logo,
  .main nav.sticky .logo {
    width: 90px;
    height: 90px;
    -webkit-transform: translateY(-0.5em) translateX(-2em);
            transform: translateY(-0.5em) translateX(-2em);
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    width: 8em;
    height: 8em;
  }
}

@media screen and (max-width: 571px) {
  .hero .slogan {
    margin: 0;
    padding: 0;
  }
  nav {
    height: unset;
  }
  nav ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    gap: 0.2em;
  }
}
/*# sourceMappingURL=style.css.map */