<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{%- if title -%}{{ title }} • {%- endif -%}Tanya Lundberg for Northville Township Trustee</title>
        <link rel="stylesheet" href="/css/style.css?v=1.1" />
        <script src="/scripts/script.js?v=1" defer></script>
    </head>
    <body>
        <div class="nav-observer" role="presentation"></div>
        <nav>
            <a href="/" title="Home">
                <img
                    src="/img/logo-reversed-facebook.svg"
                    alt="Tanya Lundberg for Northville Township Trustee"
                    height="500"
                    width="500"
                    class="logo"
                />
            </a>
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/endorsements">Endorsements</a></li>
                <li><a href="/resources">Resources</a></li>
                <li><a href="https://secure.actblue.com/donate/cte-tanya-lundberg">Support Us</a></li>
            </ul>
        </nav>
        <main>
            {{content}}
        </main>
        <footer>
            <div class="social-media">
                <a href="https://facebook.com/tanyafortrustee"
                    ><img src="/img/icon-facebook.svg" alt="Tanya for Trustee Facebook"
                /></a>
                <a href="https://twitter.com/tanyafortrustee"
                    ><img src="/img/icon-twitter.svg" alt="Tanya for Trustee Twitter" />
                </a>
            </div>
            <p>
                <small>
                    Paid for by the Committee to Elect Tanya Lundberg<br />
                    15397 Bay Hill Dr • Northville Twp, MI 48168
                </small>
            </p>
        </footer>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175517306-1"></script>
    <script>
        window.dataLayer = window.dataLayer || []
        function gtag() {
            dataLayer.push(arguments)
        }
        gtag("js", new Date())

        gtag("config", "UA-175517306-1")
    </script>
</html>
