---
layout: layout.liquid
title: Endorsements
---

<section class="intro">
    <h1>{{title}}}}</h1>
    <h2>Matt Koleszar</h2>
    <p>Matt Koleszar represents the 20th house district in the Michigan House of Representatives.</p>
    <h2>Dayna Polehanki</h2>
    <p>Dayna Polehanki represents the 7th district in the Michigan Senate.</p>
    <h2>Northville Democratic Club</h2>
    <p>
        TANYA LUNDBERG didn't expect to jump in with all she had and run for Township Trustee… yet, but we're awfully
        glad she has!
    </p>
    <p>
        She brings a fresh energy to the race that's sorely needed. We can already tell she's going to be an asset on
        the Board and to the citizens of Northville Township. We happily
        <a
            href="https://www.northvilledems.com/get-involved#:~:text=Tanya%20Lundberg%20for%20Northville%20Township%20Trustee"
            >endorse Tanya for Northville Township Board of Trustees</a
        >.
    </p>
</section>
