---
layout: layout.liquid
title: Resources
---
        <section class="intro">
            <h1>{{title}}</h1>
            <ul>
                <li>
                    <a href="https://www.twp.northville.mi.us/your_government/departments/clerk_s_office"
                        >Northville Township Clerk</a
                    >
                </li>
                <li><a href="https://www.northvilledems.com/">Northville Democratic Club</a></li>
                <li><a href="https://mvic.sos.state.mi.us/">Michigan Secretary of State</a></li>
            </ul>
        </section>
