---
title: Support Us
layout: layout.liquid
---

<section>
    <h1>{{title}}</h1>
    <p>Everyone knows campaigns are expensive, but in a local race like mine, every dollar helps.</p>
    <p><a href="https://secure.actblue.com/donate/cte-tanya-lundberg" class="btn">Donate</a></p>

    <h2>Yard Signs</h2>
    <a href="mailto:tanya@tanyafortrustee.com?subject='I%27d like a yard sign!'">Let me know if you'd like a yard sign</a>!</p>


    <h2>Literature Drop</h2>
    <p>I am trying to reach as many households as I can. If you can deliver 25 or 50 postcards in your neighborhood, or if you don't live in Northville but have time to come help, <a href="mailto:tanya@tanyafortrustee.com?subject='Lit drop'">email me</a> and I'll provide the postcards and the addresses (or we can walk together!).</p>

    <h2>Social Media</h2>
    <p>"Like" my Facebook <a href="https://facebook.com/tanyafortrustee">campaign page</a> and <a href="https://twitter.com/tanyafortrustee">follow my Twitter account</a>. The more engagement my posts get, the better – it helps more people see my campaign info.  </p>
</section>